
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>Test Site for gxguru Overview - Spreedly</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="csrf-param" content="authenticity_token"/>
<meta name="csrf-token" content="3RR7Mj0xmMD5itjD3Jf+lMA6ojnp8YBxacV&#47;ymJcDpM="/>
    <script src="https://spreedly.com/javascripts/jquery-1.2.3.pack.js?1328741951" type="text/javascript"></script>
    <script type="text/javascript">
      $.noConflict();
    </script>
    <script src="https://spreedly.com/javascripts/prototype.js?1328741951" type="text/javascript"></script>
<script src="https://spreedly.com/javascripts/effects.js?1328741951" type="text/javascript"></script>
<script src="https://spreedly.com/javascripts/dragdrop.js?1328741951" type="text/javascript"></script>
<script src="https://spreedly.com/javascripts/controls.js?1328741951" type="text/javascript"></script>
<script src="https://spreedly.com/javascripts/rails.js?1328741951" type="text/javascript"></script>
<script src="https://spreedly.com/javascripts/application.js?1328741951" type="text/javascript"></script>
    <script src="https://spreedly.com/javascripts/admin.js?1356118946" type="text/javascript"></script>
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="https://spreedly.com/stylesheets/960.css?1328741951" media="screen" rel="stylesheet" type="text/css" />
    <link href="https://spreedly.com/stylesheets/application.css?1356118946" media="screen" rel="stylesheet" type="text/css" />
    <link href="https://spreedly.com/stylesheets/site_header.css?1336162599" media="screen" rel="stylesheet" type="text/css" />
    
  </head>
  <body>
    <div id="wrap">
        <header role="banner" class="site-header">
    <nav role="navigation">
      <div class="logo"><a href="/"><img src="/images/spreedly-logo.png" alt="Spreedly" /></a></div>
      <menu class="menubar">
        <li class="menubar-item"><a href="/info/integration">Integration</a></li>
        <li class="menubar-item">
          <a href="/info/startup_pricing">Pricing</a>
        </li>
            <li class="menubar-separator"></li>
          <li class="menubar-item"><a href="https://spreedly.com/dashboard">Your Dashboard</a></li>
            <li class="menubar-item"><a href="https://spreedly.com/account">Account</a></li>
          <li class="menubar-item"><a href="https://spreedly.com/logout">Log Out</a></li>
      </menu>
    </nav>
  </header>

        <div id="flash" class = "notice">
    <p>Thanks for signing up! You have been logged in.</p>
  </div>
    <script>setTimeout(function(){ jQuery('#flash').fadeOut();}, 6000);</script>


<div id="header">
  <div class="container_16">
    <div class="grid_16">
  	      <div id="siteSwitcher">
    <a href="#" id="currentSite" onMouseOut="hide_site_selector()" onclick="show_site_selector(); return false;" title="Change site..."><span class="name">Test Site for gxguru</span><span class="tip">(switch site / add a new site...)</span></a>
    <ul id="switchMenu"  style="display:none" onMouseIn="show_site_selector()" onMouseOut="hide_site_selector()" onMouseOver="show_site_selector()" >
        <li>
            <a href="https://spreedly.com/gxguru-test/overview" class="current">Test Site for gxguru<span class="type"> Test site</span></a>
        </li>
      <li class="newSite">
        <a href="https://spreedly.com/sites/new">
          <span>Set up a new site...</span>
</a>      </li>
    </ul>
  </div>


      <div class="grid_10 alpha">
          <h1>Test Site for gxguru</h1>
      </div>
    </div>
  </div>
</div>


      <div id="content">
        <div class="container_16">
          
  <ul id="modeOptions">

  <li class="current">Overview</li>
  <li><a href="https://spreedly.com/gxguru-test/transactions">Transactions</a></li>
  <li><a href="https://spreedly.com/gxguru-test/subscription_plans">Plans</a></li>
    <li><a href="https://spreedly.com/gxguru-test/configuration">Configuration</a></li>
</ul>



      </div>
    </div>
  <!--  <div id="footer" style="background-color:#A">
  <div class="container_16">
    <div class="grid_3">
      <h2>Learn more</h2>
      <ul>
        <li><a href="/info/features">All Features</a></li>
        <li><a href="/info/pricing">Pricing</a></li>
        <li><a href="/info/integration">Integration & API</a></li>
        <li><a href="/#worldwide" class="tab_link">Payment Gateways</a></li>
      </ul>
    </div>
  -->

    <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
  try {
    var pageTracker = _gat._getTracker("UA-9153867-1");
    pageTracker._trackPageview();
  } catch(err) {}
</script>
<script type="text/javascript">
  setTimeout(function(){var a=document.createElement("script");
  var b=document.getElementsByTagName('script')[0];
  a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0012/1726.js?"+Math.floor(new Date().getTime()/3600000);
  a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
</script>

  </body>
</html>


