
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>Test Site for gxguru Overview - Spreedly</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="csrf-param" content="authenticity_token"/>
<meta name="csrf-token" content="3RR7Mj0xmMD5itjD3Jf+lMA6ojnp8YBxacV&#47;ymJcDpM="/>
    <script src="https://spreedly.com/javascripts/jquery-1.2.3.pack.js?1328741951" type="text/javascript"></script>
    <script type="text/javascript">
      $.noConflict();
    </script>
    <script src="https://spreedly.com/javascripts/prototype.js?1328741951" type="text/javascript"></script>
<script src="https://spreedly.com/javascripts/effects.js?1328741951" type="text/javascript"></script>
<script src="https://spreedly.com/javascripts/dragdrop.js?1328741951" type="text/javascript"></script>
<script src="https://spreedly.com/javascripts/controls.js?1328741951" type="text/javascript"></script>
<script src="https://spreedly.com/javascripts/rails.js?1328741951" type="text/javascript"></script>
<script src="https://spreedly.com/javascripts/application.js?1328741951" type="text/javascript"></script>
    <script src="https://spreedly.com/javascripts/admin.js?1356118946" type="text/javascript"></script>
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="https://spreedly.com/stylesheets/960.css?1328741951" media="screen" rel="stylesheet" type="text/css" />
    <link href="https://spreedly.com/stylesheets/application.css?1356118946" media="screen" rel="stylesheet" type="text/css" />
    <link href="https://spreedly.com/stylesheets/site_header.css?1336162599" media="screen" rel="stylesheet" type="text/css" />
    
  </head>
  <body>
    <div id="wrap">
        <header role="banner" class="site-header">
    <nav role="navigation">
      <div class="logo"><a href="/"><img src="/images/spreedly-logo.png" alt="Spreedly" /></a></div>
      <menu class="menubar">
        <li class="menubar-item"><a href="/info/integration">Integration</a></li>
        <li class="menubar-item">
          <a href="/info/startup_pricing">Pricing</a>
        </li>
            <li class="menubar-separator"></li>
          <li class="menubar-item"><a href="https://spreedly.com/dashboard">Your Dashboard</a></li>
            <li class="menubar-item"><a href="https://spreedly.com/account">Account</a></li>
          <li class="menubar-item"><a href="https://spreedly.com/logout">Log Out</a></li>
      </menu>
    </nav>
  </header>

        <div id="flash" class = "notice">
    <p>Thanks for signing up! You have been logged in.</p>
  </div>
    <script>setTimeout(function(){ jQuery('#flash').fadeOut();}, 6000);</script>


<div id="header">
  <div class="container_16">
    <div class="grid_16">
  	      <div id="siteSwitcher">
    <a href="#" id="currentSite" onMouseOut="hide_site_selector()" onclick="show_site_selector(); return false;" title="Change site..."><span class="name">Test Site for gxguru</span><span class="tip">(switch site / add a new site...)</span></a>
    <ul id="switchMenu"  style="display:none" onMouseIn="show_site_selector()" onMouseOut="hide_site_selector()" onMouseOver="show_site_selector()" >
        <li>
            <a href="https://spreedly.com/gxguru-test/overview" class="current">Test Site for gxguru<span class="type"> Test site</span></a>
        </li>
      <li class="newSite">
        <a href="https://spreedly.com/sites/new">
          <span>Set up a new site...</span>
</a>      </li>
    </ul>
  </div>


      <div class="grid_10 alpha">
          <h1>Test Site for gxguru</h1>
      </div>
    </div>
  </div>
</div>


      <div id="content">
        <div class="container_16">
          
  <ul id="modeOptions">

  <li class="current">Overview</li>
  <li><a href="https://spreedly.com/gxguru-test/transactions">Transactions</a></li>
  <li><a href="https://spreedly.com/gxguru-test/subscription_plans">Plans</a></li>
    <li><a href="https://spreedly.com/gxguru-test/configuration">Configuration</a></li>
</ul>





  <div class="grid_5">
    <h2>Revenue</h2>
    <div class="revenue">
  <ul>
    <li>$0.00 today</li>
    <li>$0.00 yesterday</li>
    <li>$0.00 this month</li>
    <li>$0.00 last month</li>
    <li><b>$0.00 total revenue</b></li>
  </ul>
</div>

  
  </div>

  <div class="grid_5">
    <h2>Subscribers</h2>
    <ul>
      <li>0 paid</li>
      <li>0 on trial</li>
      <li>0 inactive</li>
    </ul>
    <p class="notification">
      <a href="https://spreedly.com/gxguru-test/site_notifications">Notifications</a>: 0 changes queued to be sent to your site.
        Last notification was successful.
    </p>
  </div>

<div class="grid_6">
  <div id="subscriberSearch" class="extraInfo">
  <h2>Search subscribers</h2>
  <form accept-charset="UTF-8" action="https://spreedly.com/gxguru-test/subscribers/search" method="get"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /></div>
        <p>
          <input id="s" name="s" type="text" />
          <input type="submit" value="Search" />
          <span>(You can search by name, email or id)</span>
        </p>
</form></div>

  <p class="more">
    <a href="https://spreedly.com/gxguru-test/subscribers">Browse all subscribers</a>
  </p>

</div>



          <div class="clearThis"> </div>
        </div>
      </div>
    </div>
    <div id="footer" style="background-color:#A">
  <div class="container_16">
    <div class="grid_3">
      <h2>Learn more</h2>
      <ul>
        <li><a href="/info/features">All Features</a></li>
        <li><a href="/info/pricing">Pricing</a></li>
        <li><a href="/info/integration">Integration & API</a></li>
        <li><a href="/#worldwide" class="tab_link">Payment Gateways</a></li>
      </ul>
    </div>
  
    <div class="grid_3">
      <h2>Support and Help</h2>
      <ul>
        <li><a href="/#faq" class="tab_link">FAQs</a></li>
        <li><a href="http://getsatisfaction.com/spreedly">Support via<br />GetSatisfaction.com &#x2192;</a></li>
        <li><a href="mailto:support@spreedly.com")>Email:<br />support@spreedly.com</a></li>
      </ul>
    </div>
    
    <div class="grid_4">
      <h2>News and Updates</h2>
      <ul>
        <li><a href="http://blog.spreedly.com">Our Blog &#x2192;</a></li>
        <li><a href="http://twitter.com/spreedly" id="twitter">Follow us on Twitter &#x2192;</a></li>
        <li><a href="/info/about">About Spreedly</a></li>
      </ul>
    </div>
    
    <div class="grid_5 prefix_1">
      <ul>
        <li>Spreedly makes selling subscriptions easy.</li>
        <li>
          <a href="/info/terms-of-service">Spreedly terms and conditions</a>
          |
          <a href="/info/privacy">privacy policy</a>
        </li>
        <li>Copyright &copy; 2007-2013 Spreedly, Inc. All Rights Reserved.</li>
        <li><a href="/"><img alt="Spreedly" height="34" id="tinyLogo" src="https://spreedly.com/images/logos/logo_tiny.gif?1328741951" width="74" /></a></li>
      </ul>
    </div>
  </div>
  <div class="clearThis"> </div>
</div>

    <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
  try {
    var pageTracker = _gat._getTracker("UA-9153867-1");
    pageTracker._trackPageview();
  } catch(err) {}
</script>
<script type="text/javascript">
  setTimeout(function(){var a=document.createElement("script");
  var b=document.getElementsByTagName('script')[0];
  a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0012/1726.js?"+Math.floor(new Date().getTime()/3600000);
  a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
</script>

  </body>
</html>


